NEXT_PUBLIC_SUPABASE_URL=https://cczxeflgrhjpfmdzaiwx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjenhlZmxncmhqcGZtZHphaXd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3MjgzMjIsImV4cCI6MjA3MzMwNDMyMn0.BYzLd_AkD4d-8yAaiUeXTPGGsFdYWoSGFgZBbH_dx44